*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;  
    background-image: url('12.jpg');
    background-size: cover;
    display: flex;
}

.left{
    height: 100%;
    width: 70%;
    float: left;
}

.right{
    height: 100%;
    width: 30%;
    float: right;
}

.musica{
    height: 30%;
    width: 100%;
    display: flex;
}

audio{
    margin: auto;
}

.resultado{
    height: 70%;
    width: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 1s;

}

.aficion{
    height: 40%;
    width: 100%;
    display: flex;
}

.tablero{
    height: 80%;
    width: 400px;
    margin: auto;
    background-color: #2f19af;
}

.text-points{
    height: 20%;
    width: 100%;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(235, 221, 27);
    text-align: center;
}
.points-zone{
    height: 80%;
    width: 100%;
    display: flex;
    flex: content;
    justify-content: center;

}

.points{
    height: 50%;
    width: 25%;
    padding-top: 5%;
    font-size: 50px;
    font-family: sans-serif;
    border: 1px solid black;
    float: left;
    margin: auto;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.carriles{
    height: 60%;
    width: 100%;
    background-image: url('pasto.webp');
    background-size: cover;
    display: flex;
    border: 1px solid black;;
}
.carriles-container{
    margin: auto;
    height: 240px;
    width: 100%;
    display: block;
}

.partida-llegada{
    height: 80px;
    width: 100%;
    background-image: url('meta.jpg');
    display: flex;

}
.carril{
    height: 80px;
    width: 90%;
    border: 1px solid white;
    border-right: 10px solid white;
    background-image: url('asfalto.jpg');
    background-size: cover;
    display: flex;
}
.dos{
    margin-top: -1px;
}
.tres{
    margin-top: -2px;
}
.primer{
    margin: auto;
    margin-left: 0;
    height: 50px;
    width: 50px;
    background-image: url('negra.png');
    background-size: cover;
    border-radius: 25px;

}
.segundo{
    margin: auto;
    margin-left: 0;
    height: 50px;
    width: 50px;
    background-image: url('facundo.png');
    background-size: cover;
    border-radius: 25px;
}

.tercero{
    margin: auto;
    margin-left: 0;
    height: 50px;
    width: 50px;
    background-image: url('gordo.jpg');
    background-size: cover;
    border-radius: 25px;
}
